*{
    margin:0;
    padding: 0;
}  

.header{
    background : linear-gradient(to right bottom, #7476aa, #c89666);
    color: #fff;
    padding: 15px;
}
.task-input{
    border-radius: 25px;
    border: 1px solid;
    outline: none;
    height: 10px;
    width: 25%;
    padding: 15px;
    color: #000;
    background-color: #fff;
    font-size: 15px;
}
.task-label{
    font-size: 25px;
    margin: 20px;
}
.button-add{
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 15px;
    font-size: 15px;
    margin: 10px;
}
.div-button{
    margin-left: 30px;
}
.button-add:hover{
    background : linear-gradient(to right bottom, #7476aa, #c89666);
    color: #000;
    transition: background-color 1s ease;
}
.photo-input{
    /* background-color: black; */
    border: 1px solid;
    border-radius: 25px;
    height: 20px;
    font-size: 15px;
    padding: 20px;
    width: 15%;
    margin: 15px;
}
img{
    height: 120px;
    width: 120px;
}